<% include ../partials/header %>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">info1</li>
                <li class="list-group-item">info2</li>
                <li class="list-group-item">info3</li>
            </div>
        </div>
        
        <div class="col-md-9">
            <div class="img-thumbnail">
                <img class="img-responsive" src="<%=campground.image%>" height="400" width="300">
                
                <div class="caption-full">
                    <h4 class="float-right">$10 per day</h4>
                    <h4><a href=""><%=campground.name%></a></h4>
                    <p><em>Submitted by: <%= campground.author.username%></em></p>
                    
                    <%if(currentUser && campground.author.id.equals(currentUser._id)){%>
                        
                        <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/edit">Edit</a>
                        <form class="delete-form" action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                        
                    <%}%>
                    
                    
                    <p><%=campground.description%></p>
                </div>
            </div>
            <div class="card card-body bg-light">
                <div class="text-right">
                     <a class="btn btn-success" href="/campgrounds/<%=campground._id%>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%=comment.author.username %></strong>
                        <span class="float-right">10 days ago</span>
                        <p>
                            <%=comment.title%>
                        </p>
                        <%if(currentUser&&comment.author.id.equals(currentUser._id)){%>
                           <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>/edit">Edit</a>
                           <form class="delete-form" action="/campgrounds/<%=campground._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                             <button class="btn btn-xs btn-danger">Delete</button>
                           </form>
                        <%}%>
                         
                         
                    </div>
                </div>
       
        <% }) %>

               
            </div>
        </div>
    
        
    </div>
</div>

       
        
    



<p>

</p>





<% include ../partials/footer %>